
@{
    ViewData["Title"] = "ChiTietDichVu.html";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary py-5">
        <div class="container ">
            <div class="row align-items-center py-4">
                <div class="col-md-6 text-center text-md-left">
                    <h1 class="mb-4 mb-md-0 text-primary text-uppercase">CHI TIẾT DỊCH VỤ</h1>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="btn btn-outline-primary disabled" href="">Trang chủ</a>
                        <i class="fas fa-angle-double-right text-primary mx-2"></i>
                        <a class="btn btn-outline-primary disabled" href="">Dịch vụ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header Start -->
    <!-- Detail Start -->
    <div class="container py-5 ">
        <div class="row align-items-center py-5">
            <div class="col-12">
                <div class="d-flex flex-column text-left mb-5">
                    <h6 class="text-primary font-weight-normal text-uppercase mb-3">Chi tiết dịch vụ</h6>
                    <h1 class="mb-4 section-title">HQ Furniture CẢI THIỆN KHÔNG GIAN SỐNG CỦA BẠN    </h1>
                    <div class="d-index-flex mb-2">
                        <span class="mr-3"><i class="fa fa-user text-primary"></i>Đội ngũ thiết kế nội thất</span>
                        <span class="mr-3"><i class="fa fa-folder text-primary"></i> Trang trí nội thất</span>
                    </div>
                </div>

                <div class="mb-5">
                    <img class=" w-100" src="~/img/carousel-1.jpg" alt="Image">
                    <p>Duyệt qua dịch vụ của chúng tôi để tìm các dịch vụ về nhiều chủ đề thiết kế nội thất gia đình. Chúng tôi bao gồm mọi khía cạnh của nội thất gia đình, cho dù bạn sống trong một ngôi nhà nhỏ hay lớn.</p>
                    <p> Để có một tinh thần tốt, nhiêt huyết công hiếng cho công việc thì không giang sông là rất quang trọng. Khi có không giang sống thoải mái, dầy đủ tiệng nghi thì ai trong số chúng ta ắc hẳng sẽ có một tinh thần tốt và tràng đầy năng lượng. Hãy đê HQ Furniture gợi ý đến các bạn những ý tưởng thiết kế nội thất tuyệt vời và nâng cao giá trị cuộc sông của bạn.</p>
                    <h2 class="mb-4">Xu hướng thiết kế nội thất không gian mở sẽ là xu hướng thiết kế cho năm 2023</h2>
                    <img class="img-fluid w-50 float-left mr-4 mb-3" src="~/img/kitchen.jpg" alt="Image">
                    <p>
                        Trong tương lai, xu hướng thiết kế nội thất theo hướng không gian mở ngày càng được nhiều gia đình Việt lựa chọn, đặc biệt là những gia đình sống tại chung cư, căn hộ nhỏ.

                        Sắp tới vào năm 2023 xu hướng trang trí nội thất này được dự đoán sẽ tiếp tục ngự trị trong tương lai và trở nên rất phổ biến do những tính năng và lợi ích vượt trội của nó.

                        Thiết kế không gian mở, phá bỏ  vách ngăn và kết nối trực quan với nội thất, đặc biệt là kết nối với khu vực bếp giúp nới rộng không gian  ăn uống và tăng diện tích cho ngôi nhà.  
                    </p>
                    <h3 class="mb-4">Giường đôi cho trẻ em </h3>
                    <img class="img-fluid w-50 float-right ml-4 mb-3" src="~/img/kidsbedroom.jpg" alt="Image">
                    <p>
                        Thiết kế phòng của con bạn đóng một vai trò quan trọng trong sự tăng trưởng và phát triển của chúng. Chúng đang ở độ tuổi mà khả năng tiếp thu của chúng là tối đa. Họ tiếp thu những thứ từ môi trường xung quanh để gắn bó với họ suốt đời. Vì vậy, để họ dành phần lớn thời gian trong một môi trường tích cực và được khuyến khích có thể là chìa khóa để hình thành nên tính cách và cá tính mạnh mẽ. Giường hai tầng cho trẻ em là một cách tuyệt vời để mang lại cho căn phòng của chúng một diện mạo gọn gàng. Nó cũng giải phóng không gian cho bàn học hoặc khu vui chơi trong nhà. Thiết kế độc đáo rất linh hoạt và đi kèm với không gian lưu trữ thông minh. Thiết kế giường hai tầng có các kệ treo tường và một số ngăn tủ để dễ dàng sắp xếp sách vở, văn phòng phẩm và quần áo.
                    </p>
                </div>

                <div class="mb-5 mx-n3">
                    <h3 class="mb-4 ml-3 section-title">Một số xu huwogn thiết kế liên quan</h3>
                    <div class="owl-carousel service-carousel position-relative">
                        <div class="card border-0 mx-3">
                            <img class="card-img-top" src="~/img/Bathroom.jpg" alt="">
                            <div class="card-body bg-light p-4">
                                <div class="d-flex align-items-center mb-3">
                                 
                                    <h5 class="m-0 ml-3 text-truncate">Thiết kế phòng tắm với không gian lưu trữ </h5>
                                </div>
                                <p>
                                    Phòng tắm hiện đại với nội thất tràn ngập ánh sáng. Có không gian lưu trữ rộng rãi cho các phụ kiện và vật dụng cần thiết. Hệ thống ánh sáng tối thiểu với gam màu trắng ấm hòa hợp với chủ đề của căn phòng.
                                    Bảng màu của căn phòng phản chiếu ánh sáng và làm cho nó có vẻ rộng rãi.
                                    Khu vực tắm được ngăn cách bằng vách kính. Không gian đẹp này trau chuốt sự sang trọng và đẳng cấp.
                                </p>
                               
                            </div>
                        </div>
                        <div class="card border-0 mx-3">
                            <img class="card-img-top" src="img/exterior.jpg" alt="">
                            <div class="card-body bg-light p-4">
                                <div class="d-flex align-items-center mb-3">
                                    
                                    <h5 class="m-0 ml-3 text-truncate">Thiết kế bên ngoài của ngôi nhà</h5>
                                </div>
                                <p>
                                    Các dịch vụ thiết kế chứa đầy vô số ý tưởng cho nội thất. Còn ý tưởng cho ngoại thất của bạn thì sao?
                                    Bạn đang lên kế hoạch trang trí cho ngôi nhà của mình như thế nào? Một ban công đẹp nâng cao sự thích thú của bạn với không gian ngoài trời. Cửa sổ lớn, có khung mở làm
                                    hầu hết các khung cảnh nông thôn, trong khi lan can bằng kính cho phép bạn có một chỗ ngồi thoải mái trong một khoang ngoài trời. Nhà có mặt tiền nhìn hiện đại.
                                </p>
                              
                            </div>
                        </div>
                        <div class="card border-0 mx-3">
                            <img class="card-img-top" src="img/studyroom.jpg" alt="">
                            <div class="card-body bg-light p-4">
                                <div class="d-flex align-items-center mb-3">
                                    
                                    <h5 class="m-0 ml-3 text-truncate">Sử dụng áp phích truyền cảm hứng để thiết kế tường phòng học</h5>
                                </div>
                                <p>
                                    Trang trí tường phòng học là một công việc đòi hỏi sự sáng tạo trong việc nâng cao tính thẩm mỹ cho căn phòng.
                                    Bạn có tin hay không, những hình ảnh hoặc câu trích dẫn đầy cảm hứng có tác động sâu sắc đến tâm trí của bạn khi bạn đang cố gắng tập trung hoặc cố gắng đạt được điều gì đó với mục tiêu trong đầu.
                                    Nó hoạt động như một động lực cũng như một trang trí hoàn hảo và dễ dàng cho các bức tường trong phòng làm việc của bạn.
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
    <!-- Detail End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>


