
@{
    ViewData["Title"] = "DichVu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">



<body>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary py-5">
        <div class="container py-lg-5">
            <div class="row align-items-center py-4">
                <div class="col-md-6 text-center text-md-left">
                    <h1 class="mb-4 mb-md-0 text-primary text-uppercase">DỊCH VỤ</h1>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="btn btn-outline-primary disabled" href="">Trang chủ</a>
                        <i class="fas fa-angle-double-right text-primary mx-2"></i>
                        <a class="btn btn-outline-primary disabled" href="">Dịch vụ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header Start -->
    <!-- Blog Start -->
    <div class="container-fluid bg-light pt-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col text-center mb-4">
                    <h6 class="text-primary font-weight-normal text-uppercase mb-3">DỊCH VỤ CỦA CHÚNG TÔI</h6>
                    <h1 class="mb-4">Các ý tưởng cho dịch vụ thiết kế vs thi công nội thất của chúng tôi</h1>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-md-4 mb-4">
                    <div class="card border-0 mb-2">
                        <img class="card-img-top" src="~/img/blog-1.jpg" alt="">
                        <div class="card-body bg-white p-4">
                            <div class="d-flex align-items-center mb-3">
                                
                                <h5 class="m-0 ml-3 ">Chức năng và phong cách:5 thiết kế giường ngủ mà khách của bạn sẽ yêu thích.</h5>
                            </div>
                            <p>
                                Làm sống động ngôi nhà của bạn với 5 ý tưởng thiết kế giường ngủ ban ngày đáng mơ ước này!
                            </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card border-0 mb-2">
                        <img class="card-img-top" src="~/img/blog-2.jpg" alt="">
                        <div class="card-body bg-white p-4">
                            <div class="d-flex align-items-center mb-3">
                                
                                <h5 class="m-0 ml-3 ">Năm cách để trẻ hóa ngôi nhà của bạn với bảng màu Pastel</h5>
                            </div>
                            <p>xu hướng thiết kế nội thất với một số cách phối màu pastel cho ngôi nhà của bạn một cách sáng tạo.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card border-0 mb-2">
                        <img class="card-img-top" src="~/img/blog-3.jpg" alt="">
                        <div class="card-body bg-white p-4">
                            <div class="d-flex align-items-center mb-3">
                                
                                <h5 class="m-0 ml-3 ">Sáu ý tưởng về Phụ kiện bàn ăn để tạo nên sự thú vị cho Bữa ăn.</h5>
                            </div>
                            <p>Ý tưởng cho các phụ kiện bàn ăn hiện đại để mang lại sự rung cảm như nhà hàng cho không gian bếp nhỏ tại nhà của bạn.</p>
                        
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card border-0 mb-2">
                        <img class="card-img-top" src="~/img/modular-kitchen.jpg" alt="">
                        <div class="card-body bg-white p-4">
                            <div class="d-flex align-items-center mb-3">
                                
                                <h5 class="m-0 ml-3 ">Tết, bếp mới | 8 Xu Hướng Thiết Kế Nhà Bếp Bạn Không Thể Bỏ Qua Trong Năm 2023</h5>
                            </div>
                            <p>Hãy nâng cấp không gian nấu nướng của bạn kịp thời với những xu hướng thiết kế nhà bếp cho năm 2023 sẽ thống trị các thiết kế nhà trong năm nay.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card border-0 mb-2">
                        <img class="card-img-top" src="~/img/balcony.jpg" alt="">
                        <div class="card-body bg-white p-4">
                            <div class="d-flex align-items-center mb-3">
                                
                                <h5 class="m-0 ml-3 ">Ý tưởng thiết kế cửa ban công để tạo nội thất thú vị</h5>
                            </div>
                            <p>Tạo sự chuyển tiếp tốt nhất giữa trong nhà và ngoài trời của ngôi nhà của bạn với những ý tưởng thiết kế cửa ban công này.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card border-0 mb-2">
                        <img class="card-img-top" src="~/img/kids-bedroom.jpg" alt="">
                        <div class="card-body bg-white p-4">
                            <div class="d-flex align-items-center mb-3">
                               
                                <h5 class="m-0 ml-3 ">7 ý tưởng thiết kế phòng ngủ trẻ em tuyệt vời mà ngôi nhà của bạn cần ngay bây giờ</h5>
                            </div>
                            <p>Bạn có biết một phòng ngủ mát mẻ có thể thúc đẩy quá trình học tập và hình thành tính cách của con bạn không? Kiểm tra bài đăng trên blog này để tìm hiểu cách thực hiện.</p>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Blog End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>



