@model WebApp.Models.Duan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Duan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loaiduan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loaiduan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Maduan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
